.App {
  text-align: center;
}

.Container{
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;  
}

@media (min-width: 768px) {
  .Container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
