.jokeCard{
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgb(71, 71, 71);
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: white;
    align-items: center;
    min-width: 40%;

    margin: 20px;
    padding: 20px;
}

.JokeCard .img{
    padding-bottom: 2000px;
}